<!DOCTYPE html>
<html>
  <head>
    <title>Pomoc</title>
    <link rel="icon" href="/img/cloud-flat.png">
    <link rel="stylesheet" href="/css/styles.css" />

  </head>

  <body>
    <div>
      {{>header}}
      <p>{{tip1}}</p>
      <p>{{tip2}}</p>
    </div>

      {{>footer}}
  </body>
</html>